@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#particles-js {
    position: fixed;
    width:100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    right: 0;
    bottom:0;
  	background: gray;
}

div {
	text-align: center;
}

 .home .head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

div .logo {
  width: 40%;
  color: black;
  margin-top: 0;
  padding-left: 5%;

}

.logo p {
  float: left;
  font-size: 34px;
  font-weight: bold;
  text-shadow: -1.5px 1px #33F9FF;
  padding-left: 15%;
}

div .top-nav {
  width: 60%;
}

.top-nav nav {
   margin-right: 3em;
   margin-top: 0.75em;
   float: right;
}

.top-nav button {
  font-size: 18px;
  background: transparent;
  color: black;
  text-shadow: 1px 0.5px white;
  border: none;
  margin-left: 0.5em;
}

.btn:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  text-shadow: 1px 0.5px black;
  border-radius: 8px;
}

.intro {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
	text-shadow: 1px 0.5px white;
	text-align: right;
	color: black;
}

.tech {
	font-size: 16px;
	margin-top: 2%;
	text-shadow: none;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}

.home-social a {
	font-size: 150px;
	width: 33%;
	margin-top: 5%;
	text-shadow: 4px 4px black;
}

@media(min-width: 900px) {
	body, html {
		width: 1300px;
		margin-right: auto;
		margin-left: auto;
	}

}

@media(max-width: 500px) {
	 html, body {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	div .logo {
		width: 100%;
		padding-left: 2%;
	}

	div .top-nav {
		width: 100%;
	}

	.top-nav button {
		font-size: 16px;
		margin: auto;
	}

	.intro {
		margin-right: 5%;
		font-size: 31px;
		float: right;
		width: 100%;
		margin-bottom: 20%;
		margin-top: 15%;
	}

	.tech {
		margin-top: 10%;
		margin-bottom: 10%;
		font-size: 17px;
		width: 100%;
		text-align: center;
		color: black;
		text-shadow: 1px 1px #33F9FF;
 	}

 	div .tech {
 		text-align:center;
 	}

 	.home-social a {
 		font-size: 80px;
 		width: 32.7%;
 	}
}



