@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#particles-js {
    position: fixed;
    width:100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    right: 0;
    bottom:0;
  	background: gray;
}

div {
	text-align: center;
}

 .home .head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

div .logo {
  width: 40%;
  color: black;
  margin-top: 0;
  padding-left: 5%;

}

.logo p {
  float: left;
  font-size: 34px;
  font-weight: bold;
  text-shadow: -1.5px 1px #33F9FF;
  
}

div .top-nav {
  width: 60%;
}

#menu-button span {
  display: block;
  position: absolute;
  height: 8px;
  width: 50px;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-button span:nth-child(even) {
  right: 7%;
  margin-top: 15px;
  border-radius: 0 0 0 0;
  display: none;
}

#menu-button span:nth-child(odd) {
  right: 7%;
  margin-top: 15px;
  border-radius: 0px 0 0px 0;
}

#menu-button span:nth-child(1), #menu-button span:nth-child(2) {
  top: 0px;
  
}

#menu-button span:nth-child(3), #menu-button span:nth-child(4) {
  top: 15px;
}

#menu-button span:nth-child(5), #menu-button span:nth-child(6) {
  top: 30px;
  
}

#menu-button.open span:nth-child(1),#menu-button.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-button.open span:nth-child(2),#menu-button.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-button.open span:nth-child(3) {
  left: 100%;
  opacity: 0;
}

#menu-button.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menu-button.open span {
  top: 15px;
}


.top-nav nav {
   margin-right: 3em;
   margin-top: 0.75em;
   float: right;
}

.top-nav button {
  font-size: 18px;
  background: transparent;
  color: black;
  text-shadow: 1px 0.5px white;
  border: none;
  margin-left: 0.5em;
}

.btn:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  text-shadow: 1px 0.5px black;
  border-radius: 8px;
}

.top-nav {
	display: none;

}

.top-nav.open {
	display: inline-block;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	
}

.intro {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 0px;
	font-size: 65px;
	font-weight: bold;
	text-shadow: 1px 0.5px white;
	text-align: right;
	color: black;
}

.tech {
	font-size: 16px;
	color: black;
	margin-top: 2%;
	text-shadow: none;
	font-weight: normal;
	text-shadow: 0.5px 0.5px #33F9FF;
}

.home-social a {
	font-size: 150px;
	width: 33%;
	margin-top: 5%;
	text-shadow: 4px 4px black;
}

@media(min-width: 900px) {
	body, html, header {
		width: 1300px;
		margin-right: auto;
		margin-left: auto;
		background-color: black;
	}

}

@media(max-width: 500px) {
	 html, body {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	div .logo {
		width: 100%;
		margin-left: 0px;
		padding-left: 0px;
		float: left;
		padding-left: 5px;
		padding-top: 5px;
	}

	div .top-nav {
		width: 100%;
		float: right;
	}

	.top-nav button {
		font-size: 22px;
		margin: auto;
	}

	.intro {
		margin-right: 5%;
		font-size: 28px;
		float: right;
		width: 100%;
		margin-bottom: 20%;
		margin-top: 15%;
	}

	.tech {
		margin-top: 10%;
		margin-bottom: 10%;
		font-size: 17px;
		width: 100%;
		text-align: center;
		color: black;
 	}

 	div .tech {
 		text-align:center;
 	}

 	.home-social a {
 		font-size: 80px;
 		width: calc((100% - 10px) / 3);
 		padding: 0px
 	}
}



